{% extends "base.html" %}
{% load i18n %}
{% load my_tags %}

{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-3">

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for realm_type, realm_name in hierarchy.items reversed %}
        {% if not forloop.last %}
          <li class="breadcrumb-item active" aria-current="page">
            <a
              href="{% url 'mastr_data:totals' %}?{{ realm_type }}={{ realm_name }}">{{ realm_name }}</a>
          </li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">
            {{ realm_name }}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>

  <div class="row mt-1">
    <h1 class="title">{{ basics.realm_name }}</h1>
  </div>
  <div class="row mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page"
           href="{% url 'mastr_data:totals' %}?{{ basics.realm_type }}={{ basics.realm_name }}">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mastr_data:rankings' %}?numerator=total_net_nominal_capacity&denominator=population
{% for realm_type, realm_name in hierarchy.items %}&{{ realm_type }}={{ realm_name }}{% endfor %}
&scope=">Rankings</a>
      </li>
      <li class="nav-item">
    <a class="nav-link active" href="#">
      {% trans "Energy Units" %}
    </a>
  </li>
    </ul>
  </div>


  <form method="get">
    <div class="row mt-3 align-items-end">

      <!-- hide fields that should not be used but needed for django-filters to work correctly -->
      <div class="fieldWrapper col d-none">
        {{ filter.form.municipality |as_crispy_field }}
        {{ filter.form.county |as_crispy_field }}
        {{ filter.form.state |as_crispy_field }}
      </div>

    </div>
  </form>

  <nav class="row">
  <table class="table table-striped sortable">
    <thead>
    <tr>
      <th scope="col">{% trans "Unit Nr." %}</th>
      <th scope="col">{% trans "Start Up Date" %}</th>
      <th scope="col">{% trans "Close Down Date" %}</th>
      <th scope="col">{% trans "Type" %}</th>
      <th scope="col">{% trans "Capacity" %}</th>

    </tr>
    </thead>
    <tbody>
    {% for unit in energy_units %}
      <tr>
        <td>{{ unit.unit_nr }}</td>
        <td>{{ unit.start_up_date }}</td>
        <td>{{ unit.close_down_date|default_if_none:""}}</td>
        <td>
          {% if unit.pv_net_nominal_capacity %}{% trans "PV" %}{% endif %}
          {% if unit.storage_net_nominal_capacity %}{% trans "Battery" %}{% endif %}
          {% if unit.hydro_net_nominal_capacity %}{% trans "Hydro" %}{% endif %}
          {% if unit.wind_net_nominal_capacity %}{% trans "Wind" %}{% endif %}
          {% if unit.biomass_net_nominal_capacity %}{% trans "Biomass" %}{% endif %}
        </td>
        <td>{{ unit.net_capacity|default_if_none:""}} kW</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&lsaquo;</span></a></li>
        {% endif %}
      <li class="page-item disabled"><a class="page-link">
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span></a>
      </li>
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">&rsaquo;</a></li>
          <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}">&raquo;</a></li>
        {% endif %}
    </ul>
  </nav>
{% endblock content %}
