{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block content %}
  <div class="row">
    <div class="col-md-2 mb-5">
      <div class="sticky-top pr-3 pt-1 sticky-offset">

      <div class="card">
        <div class="card-header">
          <strong>{% trans "Filter" %}</strong>
        </div>
        <div class="card-body">
          <form method="get">
            {{ filter.form|crispy }} <input type="hidden"/>
            <button class="btn btn-outline-primary btn-block" type="submit">{% trans "Filter" %}</button>
          </form>
        </div>
      </div>
      </div>
    </div>

  <div class="col-md-10 pr-5">

  <h1 class="title">{% trans "Ranking" %}</h1>

  {{ rankings.score }}

  <div class="row">
  <table class="table table-striped sortable">
    <thead>
    <tr>
      {% for caption in table_captions %}
        <th scope="col">{{ caption }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for object in rankings %}
      <tr>
        <td>{{ forloop.counter }}</td>
        {% for value_e in object %}
          {% if forloop.counter == 1 %}
            <td><a href="{% url 'mastr_data:totals' %}?{{ table_captions.1 }}={{ value_e }}"> {{ value_e }} </a></td>
          {% else %}
            <td>{{ value_e }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br>





{% endblock content %}
