{% extends "base.html" %}

{% load i18n static %}
{% load humanize %}
{% load l10n %}

{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for realm_type, realm_name in hierarchy.items reversed %}
        {% if not forloop.last %}
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{% url 'mastr_data:totals' %}?{{ realm_type }}={{ realm_name }}">{{ realm_name }}</a>
          </li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">{{ realm_name }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
  <div class="row mt-1">
    <h1 class="title">{{ basics.realm_name }}</h1>
  </div>
  <div class="row mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           href="{% url 'mastr_data:rankings' %}?numerator=total_net_nominal_capacity&denominator=population
{% for realm_type, realm_name in hierarchy.items %}&{{ realm_type }}={{ realm_name }}{% endfor %}
&scope=">Rankings</a>
      </li>
    </ul>
  </div>
  <div class="row mt-3">
    <script src="{% static 'vendors/plotly/plotly-2.27.0.min.js' %}"></script>
    {{ plt_div|safe }}
  </div>
  <div class="row mt-3">
    <div class="col text-center">
      <h3>{{ basics.total_population|intcomma }}</h3>
      Einwohner:innen
    </div>
    <div class="col text-center">
      <h3>{{ basics.total_area|floatformat:0|intcomma }}</h3>
      km² Fläche
    </div>
    <div class="col text-center">
      <h3>{{ basics.count_of_devices|intcomma }}</h3>
      erneuerbare Energieanlagen
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">{{ basics.total_production_capacity|floatformat:0|intcomma }} kW</h3>
          <h5 class="card-subtitle mb-2 text-muted text-center">{% trans "Production Capacity" %}</h5>
        </div>
        {% translate "Production capacity per capita" as capacity_per_capita_label %}
        {% include "mastr_data/partials/ranking-rows.html" with rows=total_net_nominal_capacity_per_capita label=capacity_per_capita_label unit="kW" %}
        {% translate "Production capacity per km²" as capacity_per_area_label %}
        {% include "mastr_data/partials/ranking-rows.html" with rows=total_net_nominal_capacity_per_area label=capacity_per_area_label unit="kW" %}
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">{{ basics.total_storage_capacity|floatformat:0|intcomma }} kWh</h3>
          <h5 class="card-subtitle mb-2 text-muted text-center">{% trans "Storage Capacity" %}</h5>
        </div>
        {% translate "Storage capacity per capita" as storage_per_capita_label %}
        {% include "mastr_data/partials/ranking-rows.html" with rows=storage_capacity_per_capita label=storage_per_capita_label unit="kWh" %}
        {% translate "Storage capacity per km²" as storage_per_area_label %}
        {% include "mastr_data/partials/ranking-rows.html" with rows=storage_capacity_per_area label=storage_per_area_label unit="kWh" %}
      </div>
    </div>
  </div>
  <div class="row mb-3"></div>
{% endblock content %}
