{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block content %}
  <form method="get">
    {{ filter.form|crispy }} <input type="hidden"/>
    <button class="btn btn-outline-primary btn-block" type="submit">{% trans "Filter" %}</button>
  </form>

  <h1 class="title">{% trans "Entwicklung Erneuerbare Energien" %}</h1>
  <link href=”http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
<link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel=”stylesheet” type=”text/css”>

  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>

  {{div| safe}}
  {{script| safe}}
<br>
  Nominal net capacity per capita: {{ totals.nnc_per_capita }} kW/p<br>
  Rank in County: {{ ranks.nnc_per_capita_rank_within_county }}<br>
  Rank in State: {{ ranks.nnc_per_capita_rank_within_state }}<br>
  Rank in Germany: {{ ranks.nnc_per_capita_rank_within_germany }}<br>



{% endblock content %}
