{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load l10n %}

{% block content %}
  <div class="container mt-3">

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for realm_type, realm_name in hierarchy.items reversed %}
        {% if not forloop.last %}
          <li class="breadcrumb-item active" aria-current="page">
            <a
              href="{% url 'mastr_data:totals' %}?{{ realm_type }}={{ realm_name }}">{{ realm_name }}</a>
          </li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">
            {{ realm_name }}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>

  <div class="row mt-1">
    <h1 class="title">{{ basics.realm_name }}</h1>
  </div>
   <div class="row mt-3">
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mastr_data:rankings' %}?numerator=total_net_nominal_capacity&denominator=population
{% for realm_type, realm_name in hierarchy.items %}&{{ realm_type }}={{ realm_name }}{% endfor %}
&scope=">
      Rankings
    </a>
  </li>
</ul>
  </div>

  <div class="row mt-3">

    {{ div_timeline|safe }}
    {{ script| safe }}
  </div>

  <div class="row mt-3">
    <div class="col text-center">
      <h3>{{ basics.total_population|intcomma }}</h3>
      Einwohner:innen
    </div>
    <div class="col text-center">
      <h3>{{ basics.total_area|floatformat:0|intcomma }}</h3>
      km² Fläche
    </div>
    <div class="col text-center">
      <h3>{{ basics.count_of_devices|intcomma }}</h3>
      <a href="{% url 'mastr_data:energy_units' %}?{{ basics.realm_type }}={{ basics.realm_name }}">erneuerbare
        Energieanlagen</a>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">{{ basics.total_production_capacity|floatformat:0|intcomma }} kW</h3>
          <h5 class="card-subtitle mb-2 text-muted text-center">{% trans "Production Capacity" %}</h5>
        </div>
        {% for realm in total_net_nominal_capacity_per_capita %}
          {% if forloop.first %}
            <div class="card-body border-top pb-0">
              <h6>{% trans "Production capacity per capita" %}: {{ realm.score }} kW</h6>
            </div>
          {% else %}
            <div class="row">
              <div class="col-5 ms-4">
                <svg width="1.2em" height="1.2em">
                  <use href="#bi-arrow-return-right"/>
                </svg>
                <a
                  href="{% url 'mastr_data:rankings' %}?{{ basics.realm_type }}={{ basics.realm_name }}&scope={{ realm.realm_type }}&{{ realm.realm_type }}={{ realm.realm_name }}&numerator={{ realm.numerator }}&denominator={{ realm.denominator }}">
                  in {{ realm.realm_name }}</a>
              </div>
              <div class="col text-end">
                {{ realm.rank }}. {% trans "Rank" %}
              </div>
              <div class="col d-none d-sm-block">
                <input type="range" class="ranking" min="0" max="{{ realm.total_ranks }}" step="1"
                       value="{{ realm.rank }}"
                       id="customRange{{ forloop.counter }}" disabled>
              </div>
              <div class="col text-start">
                {% trans "of " %} {{ realm.total_ranks }}
              </div>
            </div>
          {% endif %}
        {% endfor %}


        {% for realm in total_net_nominal_capacity_per_area %}
          {% if forloop.first %}
            <div class="card-body border-top pb-0">
              <h6>{% trans "Production capacity per km²" %}: {{ realm.score }} kW</h6>
            </div>
          {% else %}
            <div class="row">
              <div class="col-5 ms-4">
                <svg width="1.2em" height="1.2em">
                  <use href="#bi-arrow-return-right"/>
                </svg>
                <a
                  href="{% url 'mastr_data:rankings' %}?{{ basics.realm_type }}={{ basics.realm_name }}&scope={{ realm.realm_type }}&{{ realm.realm_type }}={{ realm.realm_name }}&numerator={{ realm.numerator }}&denominator={{ realm.denominator }}">
                  in {{ realm.realm_name }}</a>
              </div>
              <div class="col text-end">
                {{ realm.rank }}. {% trans "Rank" %}
              </div>
              <div class="col d-none d-sm-block">
                <input type="range" class="ranking" min="0" max="{{ realm.total_ranks }}" step="1"
                       value="{{ realm.rank }}"
                       id="customRange{{ forloop.counter }}" disabled>
              </div>
              <div class="col text-start">
                {% trans "of " %} {{ realm.total_ranks }}
              </div>
            </div>
          {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">{{ basics.total_storage_capacity|floatformat:0|intcomma }} kWh</h3>
          <h5 class="card-subtitle mb-2 text-muted text-center">{% trans "Storage Capacity" %}</h5>
        </div>
        {% for realm in storage_capacity_per_capita %}
          {% if forloop.first %}
            <div class="card-body border-top pb-0">
              <h6>{% trans "Storage capacity per capita" %}: {{ realm.score }} kW</h6>
            </div>
          {% else %}
            <div class="row">
              <div class="col-5 ms-4">
                <svg width="1.2em" height="1.2em">
                  <use href="#bi-arrow-return-right"/>
                </svg>
                <a
                  href="{% url 'mastr_data:rankings' %}?{{ basics.realm_type }}={{ basics.realm_name }}&scope={{ realm.realm_type }}&{{ realm.realm_type }}={{ realm.realm_name }}&numerator={{ realm.numerator }}&denominator={{ realm.denominator }}">
                  in {{ realm.realm_name }}</a>
              </div>
              <div class="col text-end">
                {{ realm.rank }}. {% trans "Rank" %}
              </div>
              <div class="col d-none d-sm-block">
                <input type="range" class="ranking" min="0" max="{{ realm.total_ranks }}" step="1"
                       value="{{ realm.rank }}"
                       id="customRange{{ forloop.counter }}" disabled>
              </div>
              <div class="col text-start">
                {% trans "of " %} {{ realm.total_ranks }}
              </div>
            </div>
          {% endif %}
        {% endfor %}


        {% for realm in storage_capacity_per_area %}
          {% if forloop.first %}
            <div class="card-body border-top pb-0">
              <h6>{% trans "Storage capacity per km²" %}: {{ realm.score }} kWh</h6>
            </div>
          {% else %}
            <div class="row">
              <div class="col-5 ms-4">
                <svg width="1.2em" height="1.2em">
                  <use href="#bi-arrow-return-right"/>
                </svg>
                <a
                  href="{% url 'mastr_data:rankings' %}?{{ basics.realm_type }}={{ basics.realm_name }}&scope={{ realm.realm_type }}&{{ realm.realm_type }}={{ realm.realm_name }}&numerator={{ realm.numerator }}&denominator={{ realm.denominator }}">
                  in {{ realm.realm_name }}</a>
              </div>
              <div class="col text-end">
                {{ realm.rank }}. {% trans "Rank" %}
              </div>
              <div class="col d-none d-sm-block">
                <input type="range" class="ranking" min="0" max="{{ realm.total_ranks }}" step="1"
                       value="{{ realm.rank }}"
                       id="customRange{{ forloop.counter }}" disabled>
              </div>
              <div class="col text-start">
                {% trans "of " %} {{ realm.total_ranks }}
              </div>
            </div>
          {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <svg width="1.2em" height="1.2em">
        <use href="#bi-emoji-dizzy"/>
      </svg>
      <svg width="1.2em" height="1.2em">
        <use href="#bi-emoji-frown"/>
      </svg>
      <svg width="1.2em" height="1.2em">
        <use href="#bi-emoji-neutral"/>
      </svg>
      <svg width="1.2em" height="1.2em">
        <use href="#bi-emoji-smile"/>
      </svg>
      <svg width="1.2em" height="1.2em">
        <use href="#bi-emoji-sunglasses"/>
      </svg>

    </div>
  </div>







  <link href=”http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
  <link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel=”stylesheet” type=”text/css”>

  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>

{% endblock content %}
