{% extends "base.html" %}
{% load i18n %}


{% block content %}

  <div class="container mt-5">
    <div class="row mt-1">
      <h1 class="title">{% trans "About us" %}</h1>
      <p>
        Wir möchten den Stand der Energiewende greifbar machen - von der Bundes- bis zur Gemeindeebene. Dafür werten wir
        die Daten des Marktstammdatenregisters der Bundesnetzagentur aus und stellen sie in etwas anderer Form dar.<br>
      </p>

      <p>Derzeit befindet sich die Webseite noch in einem sehr experimentellen Stadium und ist als "Proof of Concept" zu
        verstehen.
        Ganz zentral fehlt uns derzeit vor allem die Anzeige der Differenz des derzeitigen Ausbaus zu den
        unterschiedlichen Ausbauszenarien.

        <a href="https://github.com/finnus/ee-status">Das GitHub-Repo findet ihr hier</a>.</p>
    </div>
  </div>

{% endblock content %}
